DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bus_ticket?schema=public"
JWT_SECRET="hGsZp9hPPyGGyB1XaYvFofrtcIb9s7SJPGvpSYSBcfD"
API_PORT=4000
API_URL="http://localhost:4000"
NEXT_PUBLIC_API_URL="http://localhost:4000"
NODE_ENV="development"
